 ul{
     list-style-type: none; 
     background-color: orange;
     display: flex;
     justify-content: space-evenly;
     width: auto; 
     color: rgb(50, 47, 255);
     align-items: center;
     line-height: 50px;
     font-size: 3px;
     font-family: "Comic Sans MS";
    } 
 ul li{
   display: inline;
   padding: 10px; 
   margin: 0px;
 }
 li{
     font-size: 25px;
     justify-content: space-between; 
 }
 body{
     background-color: aqua; 
     font-family: "Comic Sans MS";
 }